<html>
  <head>
    <script src="js/jquery-1.11.1.min.js"></script>
    
  </head>
  <body>
     
    <div style="background: black; height: 500px;">
      <button id="loginbutton" style="width: 60px; height: 60px;">Button</button>
    </div>
    <script src="js/fb.js"></script>
    <script>
     // window.fbAsyncInit = function() {
     //      FB.init({
     //        appId      : '1810040475914387',
     //        xfbml      : true,
     //        version    : 'v2.8'
     //      });
     //      debugger;
     //      FB.AppEvents.logPageView();

     //      FB.login(function(response){
     //      });
     //    };

     //    (function(d, s, id){
     //       var js, fjs = d.getElementsByTagName(s)[0];
     //       if (d.getElementById(id)) {return;}
     //       js = d.createElement(s); js.id = id;
     //       js.src = "//connect.facebook.net/en_US/sdk.js";
     //       fjs.parentNode.insertBefore(js, fjs);
     //    }(document, 'script', 'facebook-jssdk'));
      
      // $('#loginbutton').click(function(){
        
      // });
    </script>
  </body>
</html>